<div class="shopping-list-container">
    <div class="input-section">
        <input [(ngModel)]="newItemName" placeholder="Nazwa produktu" />
        <button (click)="addItem()">Dodaj</button>
    </div>
    <ul class="product-list">
        <li *ngFor="let item of items" [class.bought]="item.isBought">
            <input type="checkbox" [(ngModel)]="item.isBought" />
            <span>{{ item.name }}</span>
            <button class="remove-btn" (click)="removeItem(item)">Usuń</button>
        </li>
    </ul>
</div>